# Mot de passe pour supprimer des éléments (utilisé côté client)
NEXT_PUBLIC_DELETE_PASSWORD=xxx

# Mot de passe pour l'accès administrateur
ADMIN_ACCESS_PASSWORD=xxx

# Mot de passe pour l'accès utilisateur
ACCESS_PASSWORD=xxx

# Clé secrète pour signer les tokens JWT
JWT_SECRET=xxx
JWT_ADMIN_SECRET=xxx
TMDB_ACCESS_TOKEN=xxx
MONGODB_URI=xxx
MONGODB_PASS=xxx
MONGODB_DB_NAME=xxx
N8N_WEBHOOK_LINK=xxx
N8N_WEBHOOK_HEADER=xxx
N8N_WEBHOOK_PASSWORD=xxx